{
  "log": {
    "_recordingName": "mcp-tool-calls",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "416e7010c8b0d41c47ebe737f491a746",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer CKjZ-vqAMxIiQlNQMl8kQEwrAhUACAkCBgcBBhIBCCIBAQsVAQIBKAFLDBjc_-gWIIimvR8o36qvBjIUUI_KU7_mqwXtZBOsEroFWxzFLno6VEJTUDJfJEBMKwJHAAgTBgYoAQEBATgCCysQARIBARoBARIBAQE6AQEBAQEBAQEaCAEBAQEBHgEBAQEBAQUBAQEBAVcBAwEBBwEBAQEBAUvKAQEYAUIU9_K8TqM1hU-rD3nQhHqf-G4kwnVKA25hMVIAWgBgAGiIpr0fcAB4AA"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"test@example.com\",\"limit\":10,\"properties\":[\"email\",\"firstname\",\"lastname\",\"phone\",\"company\",\"jobtitle\",\"createdate\",\"lastmodifieddate\"]}"
          },
          "queryString": [],
          "url": "https://api.hubapi.com/crm/v3/objects/contacts/search"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 598,
            "text": "{\"total\":7,\"results\":[{\"id\":\"129998653041\",\"properties\":{\"company\":null,\"createdate\":\"2025-06-17T10:30:31.549Z\",\"email\":\"test.contact.1750156230958@example.com\",\"firstname\":\"TestFirst1750156230958\",\"hs_object_id\":\"129998653041\",\"jobtitle\":null,\"lastmodifieddate\":\"2025-06-17T11:00:35.302Z\",\"lastname\":\"TestLast1750156230958\",\"phone\":\"+1234567890\"},\"createdAt\":\"2025-06-17T10:30:31.549Z\",\"updatedAt\":\"2025-06-17T11:00:35.302Z\",\"archived\":false},{\"id\":\"130001157762\",\"properties\":{\"company\":null,\"createdate\":\"2025-06-17T10:31:14.267Z\",\"email\":\"test.contact.1750156273638@example.com\",\"firstname\":\"TestFirst1750156273638\",\"hs_object_id\":\"130001157762\",\"jobtitle\":null,\"lastmodifieddate\":\"2025-06-17T11:01:17.809Z\",\"lastname\":\"TestLast1750156273638\",\"phone\":\"+1234567890\"},\"createdAt\":\"2025-06-17T10:31:14.267Z\",\"updatedAt\":\"2025-06-17T11:01:17.809Z\",\"archived\":false},{\"id\":\"130001158919\[...]
